/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2014, 8:11:05 PM
    Author     : antepettersson
*/


.root {
    -fx-background-color: #dfdede;
    -fx-font-weight: bold;
}
.bg {
     -fx-background-image: url("timo_background.png");
     -fx-background-position: right top;
     -fx-background-repeat: no-repeat;
}

.text-area{
    -fx-text-fill: #00ff00;
    -fx-background-color : black;
    -fx-font-family: monospace;
    -fx-font-weight: bold;
}



.text-area .content{
      -fx-background-color: black;
  }
  
  .text-field{
      -fx-background-color: black;
      -fx-text-fill: #00ff00;
      -fx-font-family: monospace;
      -fx-font-weight: bold;
  }